<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div id="top-nav">
        <h1>TheAppersonian</h1>
        <div>
            <ul class="top-nav-links">
                <li><a href="">Portfolio</a></li>
                <li><a href="">Videos</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">Placeholders</a></li>
            </ul>
        </div>
        <div class="top-nav-buttons">
            <a href="/logout">Sign Out</a>
        </div>
    </div>
    <div id="main-content-edit">
        <h2>{{edit.title}}</h2>
        <div class="blog-form-edit">
            <form action="/update/post" method="post">
                <div>
                    <input type="text" class="edit-title" name="title" value="{{edit.title}}">
                </div>
                <div class="post-box">
                    <textarea name="content">{{edit.content}}</textarea>
                </div>
                <input type="hidden" name="id" value="{{edit.id}}">
                <input type="submit" value="Submit Edits">
            </form>
            <a href="/">Cancel Edits</a>
        </div>
    </div>
    <div id="bot-nav-short">
        <h3>TheAppersonian</h3>
        <div>
            <ul class="bot-nav-links">
                <li><a href="">About</a></li>
                <li><a href="">Wireframe</a></li>
                <li><a href="">ERD</a></li>
                <li><a href="https://github.com/TheApperson">Github</a></li>
            </ul>
        </div>
    </div>
</body>
</html>