<!DOCTYPE html>
<html>
<head>
    <title>Guessing game</title>
    <link rel="stylesheet" href="../static/css/style3.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
</head>
<body id="container">
    <div>
        <a href="/">Home</a>
    </div>
    <div id="guess-bar">
        {% if answer %}
        <p>You have {{turns_left}} guesses!</p>
        <p>Submit an guess between {{guess_min}} and {{guess_max}}:</p>
        {% else %}
        <p>Play again?</p>
        <p>Guess a new number between 1 and 1000</p>
        {% endif %}
        {% with messages = get_flashed_messages(category_filter=['guess']) %}
        <form action="/guesser" method="post" class="guess-form">
            {% if answer %}
            <input type="number" id="guess" name="guess" autocomplete="off" autofocus>
            <button type="submit" class="game-btn">Submit</button>
            {% else %}
            <input type="hidden" id="guess" name="guess" value="0">
            <button type="submit" class="game-btn">Play</button>
            {% endif %}
        </form>
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="graph">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</body>
</html>
