<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div id="top-nav">
        <h1>TheAppersonian</h1>
        <div>
            <ul class="top-nav-links">
                <li><a href="">Portfolio</a></li>
                <li><a href="">Videos</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">Placeholder</a></li>
            </ul>
        </div>
        <div class="top-nav-buttons">
            <a href="">Login</a>
            <a href="">Register</a>
        </div>
    </div>
    <div id="main-content">
        <div class="blog-entries">
            <p>Blog content goes here</p>
        </div>
        <div class="main-right-content">
            <p>placeholder</p>
        </div>
    </div>
    <div id="bot-nav">
        <h3>TheAppersonian</h3>
        <div>
            <ul class="bot-nav-links">
                <li><a href="">About</a></li>
                <li><a href="">Wireframe</a></li>
                <li><a href="">ERD</a></li>
                <li><a href="">Github</a></li>
            </ul>
        </div>
    </div>
</body>
</html>