<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
    <div id="color-art">
        {% for i in range(50) %}
        <div class="color-row">.</div>
            {% for j in range(198) %}
            <div class="color-col" id="boundary">
                <span >.</span>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
    <script>
        document.getElementById("boundary").style.backgroundColor =
        "green";
    </script>
</body>
</html>