body {
    background-color: rgb(189, 186, 186);
}

#top-nav {
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    align-items: center;
    background-color: rgb(128, 128, 231);
    margin: 10px;
}

.top-nav-links {
    display: flex;
    list-style: none;
}

.top-nav-links li a {
    margin-right: 15px;
}

.top-nav-buttons {
    padding-right: 15px;
}

#main-content {
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    margin: 10px;
}

.blog-entries {

    border: solid black 1px;
    width: 80%;
    margin-right: 10px;
}

.main-right-content {
    border: solid black 1px;
    width: 20%;
}

#bot-nav {
    background-color: aqua;
    border: solid black 1px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.bot-nav-links {
    display: flex;
    list-style: none;
}

.bot-nav-links li a {
    margin-right: 15px;
}